.home{
    background-image: url("./assets/steps.jpg");
    height: 600px;
    background-size: cover;
    color: white;
    text-align: center;
}
/* .words{
    margin-top: 15%;
    padding: auto;
} */
.mouse{
    margin-top: 20%;
}
.about{
    text-align: center;
}
.services{
    text-align: center;
    color: white;
    background-image: url("./assets/services.jpg");
    height: 300px;
    padding: 80px;
    margin-top: 50px;
}
.portfolio{
    display: flex;
}

.pic{
    width: 250px;
}
.delan-form{
    background-image:url('./assets/contactus.jpg');
    
}
.fields{
    flex-wrap: wrap;
}
.show1,.show2, .show3{
display: none;
}

form{
    flex-wrap: wrap;
}
#name, #email{
    width: 300px;
    background-color: transparent;
    border: 2px solid white;
}
::placeholder{
    color: white;
}
.text-area::placeholder{
    color: white;
}
#name{
    margin-left:330px;
}
#email{
    margin-left: 20px;
}
.text-area{
    margin-left: 330px;
    color: white;

}

#message{
    width: 620px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
button{
    text-align: center;
    background-color: white;
    padding: 10px;
    width: 100px;
    border: 2px solid white;
}


/* .us{
    text-align: center;
    /* color: white; */
    /* background-image: url("./assets/contactus.jpg");
    height: 400px;
    padding: 30px;
}
.last{
    width: 400px;
    margin: 10px;
}
.form-floating{
    width: 700px;
    margin-left: 20%;
    
}
.end{
    margin: 20px;
    border: 2px solid black;
    width: 70px;
    text-align: center;
    margin-left: 50%;
} */ 