.home{
    background-image: url("./assets/steps.jpg");
    height: 600px;
    background-size: cover;
    color: white;
    text-align: center;
}
/* .words{
    margin-top: 15%;
    padding: auto;
} */
.mouse{
    margin-top: 20%;
}
.about{
    text-align: center;
}
.services{
    text-align: center;
    color: white;
    background-image: url("./assets/services.jpg");
    height: 300px;
    padding: 80px;
    margin-top: 50px;
}
.what{
    display: flex;
}
.portfolio{
    display: flex;
}
.pic{
    width: 250px;
}
.us{
    text-align: center;
    /* color: white; */
    background-image: url("./assets/contactus.jpg");
    height: 400px;
    padding: 30px;
}
.last{
    width: 400px;
    margin: 10px;
}
.form-floating{
    width: 700px;
    margin-left: 20%;
    
}